<!DOCTYPE html>

{% extends 'mylibrary/base.html' %} 

{% block title_block %}
Add a Book
{% endblock %}

{% block body_block %}
<form id="book_form" method="post" action="/mylibrary/add_book/" enctype="multipart/form-data"> 
  {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
<div class="container mt-5">
  <div class="row">
{% for field in form.visible_fields %}
      <div class="col-sm-4">
        {{ field }}
        {{ field.errors }}
        {{ field.help_text }}
      </div>
{% endfor %}
</div>
</div>

<div class="container mt-5">
    <div class="col">
      <div class="col-sm-4">
        <input type="submit" name="submit" value="Upload Book" />
         </form>
         <div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}