<!DOCTYPE html>

{% extends 'mylibrary/base.html' %} 

{% block title_block %}
Add a Book
{% endblock %}

{% block body_block %}
<form id="book_form" method="post" action="/mylibrary/add_book/"> {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }}
{% endfor %}
<button id="submit">Upload Book</button>
<!-<-input type="submit" name="submit" value="Upload Book" />--!>
</form>
<div>
<li><a href="{% url 'mylibrary:index' %}">Home</a></li>
</div>
{% endblock %}