<!DOCTYPE html>
{% extends 'mylibrary/base.html' %}
{{ MEDIA_URL }}
{% load staticfiles %}
{% block body_block %}
<html>

    <head>
        <title>Book</title>
    </head>

    <body>
        <div>
            <div class="container mt-6">
                <div class="col">
                  <div class="col-sm-4">
                    {% if book %}
                    <h1>{{ book }} by {{ book.author }}</h1></br>
                    <h5>uploaded by {{ book.uploadedBy }}</h5>
                    {% endif %}
                  </div>
                </div>
              </div>
    </div>

    <div>
            <div class="container mt-5">
                <div class="row">
                  <div class="col-sm-4">
                    <h1>{{ book.uploadedby }}</h1>
                    <h1>{{ book.bookCategory }}</h1>
                  </div>
                </div>
                  <div class="col-sm-5">
                    <img src="{{ MEDIA_URL }}{{ book.coverPhoto }}" style="width:300px;height:300px;">
                </div>
              </div>

            {% for review in reviews %}
            <div class="container mt-5">
                <div class="col">
                  <div class="col-sm-4">
                    <h3>{{review.reviewAuthorFK}} {{review.dateWritten}}</h3>
                    {% if review.reviewAuthorFK.userprofile.profilePic %}
                    <img src="{{MEDIA_URL}}{{ review.reviewAuthorFK.userprofile.profilePic }}" style="width:50px;height:50px;">
                    {% else %}
                    <img src="{% static 'img/opo.jpg' %}" style="width:50px;height:50px;">
                    {% endif %}
                    <p>{{ review.message }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
            <div>
            <li><a href="/mylibrary/book/{{ book.slug }}/write_review">Write review</a></li>
            {% if reads %}
            <h5 id="readHeader">Click this button to upload this book to your library!</h5>
            <button id="readButton" data-book="{{ book.ISBN }}" data-userID="{{ user.user }}">Start Reading</button>
            {% else %}
            <div class="progress"> 
              <div class="progressbar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100">
                70%
              </div>
            </div>
            <button id="readButton" data-book="{{ book.ISBN }}" data-userID="{{ user.user }}">Stop Reading</button>
            </div>
            {% endif %}
    </body>
    {% endblock %}
</html>