<!DOCTYPE html>
{% extends 'mylibrary/base.html' %}
{{ MEDIA_URL }}
{% load staticfiles %}
{% block body_block %}
<html>

    <head>
        <title>Book</title>
    </head>

    <body>
        <div>
            <div class="container mt-6">
                <div class="col">
                  <div class="col-sm-4">
                    {% if book %}
                    <h1>{{ book }} by {{ book.author }}</h1></br>
                    <h5>Uploaded by {{ book.uploadedBy }}</h5>
                    {% endif %}
                  </div>
                </div>
              </div>
    </div>

    <div>
            <div class="container mt-5">
                <div class="row">
                  <div class="col-sm-4">
                    <h4>Categories:</h4>
                    {% for category in categories %}
                    <h6>{{ category }}</h6>
                    {% endfor %}
                  </div>
                </div>
                  <div class="col-sm-5">
                    <img src="{{ MEDIA_URL }}{{ book.coverPhoto }}" style="width:300px;height:300px;">
                </div>
              </div>

            {% for review in reviews %}
            <div class="container mt-5">
                <div class="col">
                  <div class="col-sm-4">
                    <h3>{{review.reviewAuthorFK}} {{review.dateWritten}}</h3>
                    {% if review.reviewAuthorFK.userprofile.profilePic %}
                    <img src="{{MEDIA_URL}}{{ review.reviewAuthorFK.userprofile.profilePic }}" style="width:50px;height:50px;">
                    {% else %}
                    <img src="{{MEDIA_URL}}/profile_images/Guest.png" style="width:50px;height:50px;">
                    {% endif %}
                    <p>{{ review.message }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
            <li><a href="/mylibrary/book/{{ book.slug }}/write_review">Write review</a></li>
            <div>
            {% if read %}
            <button id="readButton" data-totalPages="{{ book.totalPages }}" data-pagesRead="{{ book.pagesRead }}">Stop Reading</button>
            {% else %}
            <h5 id="readHeader">Click this button to upload this book to your library!</h5>
            <button id="readButton" data-book="{{ book.ISBN }}" data-userID="{{ user.user }}">Start Reading</button>
            {% endif %}
            </div>
    </div>
    </body>

</html>
{% endblock %}
