<!DOCTYPE html>
{% extends 'mylibrary/base.html' %}
{% load staticfiles %}

<body>
{% for book in books %}
<div class="container mt-3">
    <h2>{{ book.bookFK.title }}</h2>
    <div class="card">
      <div class="card-body">{{ book.bookFK.title }}</div>
      <div class="progress">
      <div class="progress-bar" id="progress-bar"></div>
      updateProgessBar(book)
    </div>
    </div>
  </div>
<div class="card">
    <div class="card-body">Basic card</div>
  </div>
{{ book.bookFK.title }}
{{ book.pagesRead }}
{% endfor %}
</body>