<!DOCTYPE html>
{% extends 'mylibrary/base.html' %}
{% load staticfiles %}
{{MEDIA_URL}}
{{STATIC_URL}}



{% block title_block %}
MyLibrary
{% endblock %}

{% block body_block %}
Links:
{% for categories in categorys %}
        <h1> {{ category }}</h1>
{%endfor%}
<li><a href="{% url 'mylibrary:add_book' %}">Add Book</a></li>
{% if categories %}
    <div class="container mt-5">
        <div class="row">
    {% for category in categories %}
          <div class="col-sm-2">
            <h3><a href="/mylibrary/category/{{category.slug}}"> {{category.categoryID}}</a></h3>
          </div>
    {%endfor%}
        </div>
    </div>
{%endif%}
    <div>
        <ul>

            {% for category in categorys %}
                <h1> {{ category.categoryID }}</h1>
            {%endfor%}
        </ul>
    </div>
    {% endblock %}