<!DOCTYPE html>
{% extends 'mylibrary/base.html' %}
{% load staticfiles %}
{{MEDIA_URL}}
{{STATIC_URL}}



{% block title_block %}
MyLibrary
{% endblock %}

{% if user.is_authenticated %}
        howdy {{ user.username }}!
{% else %}
    hey there partner!
{% endif %}

{% block body_block %}
Links:
{% for categories in categorys %}
        <h1> {{ category }}</h1>
{%endfor%}
<h1> welcome {{ user.username }}</h1>
<li><a href="{% url 'mylibrary:add_book' %}">Add Book</a></li>
<li><a href="{% url 'mylibrary:about' %}">About</a></li>
<li><a href="{% url 'mylibrary:explorecategory' %}"> explore Categories</a></li>
{% if categories %}
    {% for category in categories %}
    <li><a href="/mylibrary/category/{{category.slug}}"> {{category.categoryID}}</a></li>
    {%endfor%}
{%endif%}
    <div>
        <ul>

            {% for category in categorys %}
                <h1> {{ category.categoryID }}</h1>
            {%endfor%}
        </ul>
    </div>
    {% endblock %}