<!DOCTYPE html>

{% extends 'mylibrary/base.html' %}

{% load staticfiles %}

{% block title_block %}
{% endblock %}
{% if reviews %}
{% for review in reviews %}
<h1>{{ review.message }}</h1>
{% endfor %}
{% endif %}

{% block body_block %}
{% if reviews %}
{% for review in reviews %}
<div class="container mt-5">
    <div class="col">
      <div class="col-sm-4">
        {% if review.reviewAuthorFK.userprofile.profilePic %}
                    <img src="{{MEDIA_URL}}{{ review.reviewAuthorFK.userprofile.profilePic }}" style="width:50px;height:50px;">
                    {% else %}
                    <img src="{{MEDIA_URL}}/profile_images/Guest.png" style="width:50px;height:50px;">
                    {% endif %}
        <h3>{{ review.reviewBookFK }}</h3>
        <p>{{ review.message }}</p>
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}
{% endblock %}